{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% for categorysitem in categorysitem %}
        <a href="{% url 'categroy_detail' categorysitem.id %}" class="col-lg-2" style="position: relative; text-decoration: none;">
            <img class="thumbnail" style="height: 300px;border-radius: 12px;" src="{{categorysitem.image.url}}">
            <div style="padding: 5px;border-radius: 12px;border: none;">
                <h6 href="" style="border: none;border-radius: 12px;outline: none;color: #d73676;">
                    <strong>{{categorysitem.name}}</strong>
                </h6>
                <h6><strong>${{categorysitem.price|floatformat:2}}</strong></h6>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}